matplotlib==3.7.1
numpy==1.24.3
opencv_python==4.7.0.72
pandas==1.5.3
Pillow==9.4.0
Pillow==9.5.0
pydicom==2.3.1
pytorch_lightning==2.0.2
skimage==0.0
tensorboard==2.12.3
tensorboardX==2.2
tensorboardX==2.6
timm==0.6.13
torch==2.0.0
torchcontrib==0.0.2
torchmetrics==0.11.4
torchvision==0.15.0
torchxrayvision==1.1.0
tqdm==4.65.0
transformers==4.24.0
